<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">StockManager</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <div class="text-center">
                    <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
                </div>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Productos/Index">
                <div class="text-center">
                    <span class="bi bi-archive" aria-hidden="true"></span> Productos
                </div>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Compras/Index">
                <div class="text-center">
                    <span class="bi bi-cart-plus" aria-hidden="true"></span> Compras
                </div>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Ventas/Index">
                <div class="text-center">
                    <span class="bi bi-cart-fill" aria-hidden="true"></span> Ventas
                </div>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Proveedores/Index">
                <div class="text-center">
                    <span class="bi bi-cart-plus" aria-hidden="true"></span> Proveedores
                </div>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Cuentas/Index">
                <div class="text-center">
                    <span class="bi bi-cart-plus" aria-hidden="true"></span> Cuentas
                </div>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Mermas/Index">
                <div class="text-center">
                    <span class="bi bi-cart-plus" aria-hidden="true"></span> Mermas
                </div>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Reportes/Index">
                <div class="text-center">
                    <span class="bi bi-cart-plus" aria-hidden="true"></span> Reportes
                </div>
            </NavLink>
        </div>
    </nav>
</div>
