@page "/CuentasPorCobrar/Index"
@rendermode InteractiveServer
<PageTitle>Cuentas por Cobrar</PageTitle>

<style>
    .table-striped-custom tbody tr:nth-child(odd) {
        background-color: #ffffff;
    }

    .table-striped-custom tbody tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>

<div class="mt-5">
    
    <div class="row mb-4">
        <div class="col">
            <h3 class="fw-semibold">Cuentas por Cobrar</h3>
        </div>
        <div class="col-auto d-flex align-items-center gap-3">
            <input class="form-control shadow-sm text-secondary" style="width: 250px;" placeholder="Buscar..." />
            <a href="#" class="btn btn-outline bi bi-chat-dots text-secondary shadow-sm"></a>
            <a href="#" class="btn btn-outline bi bi-bell text-secondary shadow-sm"></a>
        </div>
    </div>

    
    <div class="row d-flex justify-content-between mb-4">
        <div class="col-auto">
            <button type="button" class="btn btn-outline">Resumen</button>
            <button type="button" class="btn btn-outline text-secondary ms-4">Solicitudes</button>
            <button type="button" class="btn btn-outline text-secondary ms-4">Notificaciones</button>
        </div>
    </div>

    
    <div class="table-responsive mt-4">
        <table class="table table-hover align-middle shadow-sm table-striped-custom">
            <thead class="table-light">
                <tr>
                    <th>Límite de Crédito</th>
                    <th>Editar</th>
                    <th>Pago</th>
                    <th>Factura</th>
                    <th>Nombre Proveedor</th>
                    <th>Fecha límite de pago</th>
                    <th>Monto de Producto</th>
                    <th>Estatus</th>
                    <th>Orden</th>
                    <th>RNC</th>
                    <th>Mora Pago</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>250,000.00</td>
                    <td><i class="bi bi-pencil-fill"></i></td>
                    <td>18,450.00</td>
                    <td>47</td>
                    <td>StockManager</td>
                    <td>30/07/2025</td>
                    <td>80</td>
                    <td>no</td>
                    <td>#126</td>
                    <td>133-55789</td>
                    <td>7%</td>
                </tr>
                <tr>
                    <td>250,000.00</td>
                    <td><i class="bi bi-pencil-fill"></i></td>
                    <td>18,450.00</td>
                    <td>47</td>
                    <td>StockManager</td>
                    <td>30/07/2025</td>
                    <td>80</td>
                    <td>no</td>
                    <td>#126</td>
                    <td>133-55789</td>
                    <td>7%</td>
                </tr>
                <tr>
                    <td>250,000.00</td>
                    <td><i class="bi bi-pencil-fill"></i></td>
                    <td>18,450.00</td>
                    <td>47</td>
                    <td>StockManager</td>
                    <td>30/07/2025</td>
                    <td>80</td>
                    <td>no</td>
                    <td>#126</td>
                    <td>133-55789</td>
                    <td>7%</td>
                </tr>
                <tr>
                    <td>250,000.00</td>
                    <td><i class="bi bi-pencil-fill"></i></td>
                    <td>18,450.00</td>
                    <td>47</td>
                    <td>StockManager</td>
                    <td>30/07/2025</td>
                    <td>80</td>
                    <td>no</td>
                    <td>#126</td>
                    <td>133-55789</td>
                    <td>7%</td>
                </tr>
                <tr>
                    <td>250,000.00</td>
                    <td><i class="bi bi-pencil-fill"></i></td>
                    <td>18,450.00</td>
                    <td>47</td>
                    <td>StockManager</td>
                    <td>30/07/2025</td>
                    <td>80</td>
                    <td>no</td>
                    <td>#126</td>
                    <td>133-55789</td>
                    <td>7%</td>
                </tr>
                <tr>
                    <td>250,000.00</td>
                    <td><i class="bi bi-pencil-fill"></i></td>
                    <td>18,450.00</td>
                    <td>47</td>
                    <td>StockManager</td>
                    <td>30/07/2025</td>
                    <td>80</td>
                    <td>no</td>
                    <td>#126</td>
                    <td>133-55789</td>
                    <td>7%</td>
                </tr>
                <tr>
                    <td>250,000.00</td>
                    <td><i class="bi bi-pencil-fill"></i></td>
                    <td>18,450.00</td>
                    <td>47</td>
                    <td>StockManager</td>
                    <td>30/07/2025</td>
                    <td>80</td>
                    <td>no</td>
                    <td>#126</td>
                    <td>133-55789</td>
                    <td>7%</td>
                </tr>
                <tr>
                    <td>250,000.00</td>
                    <td><i class="bi bi-pencil-fill"></i></td>
                    <td>18,450.00</td>
                    <td>47</td>
                    <td>StockManager</td>
                    <td>30/07/2025</td>
                    <td>80</td>
                    <td>no</td>
                    <td>#126</td>
                    <td>133-55789</td>
                    <td>7%</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Paginación -->
    <div class="d-flex justify-content-end mt-3">
        <nav>
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
            </ul>
        </nav>
    </div>
</div>


@code {

}
